# H&M 고객 데이터 문제 세트 (Pandas)

In [1]:
# ✅ 기본 설정 (수정 금지)
import pandas as pd

df = pd.read_csv("customer_hm.csv")
print(df.shape)
df.head()

(1048575, 6)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52

---

### 문제 1 — 그룹화: `club_member_status`별 고객 수 집계
• `club_member_status`별 행 개수를 구하세요. (힌트: `groupby`와 `.size()` 또는 `.count()`)  
• 결과는 Series 또는 DataFrame 형태여도 됩니다.

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 2 — 그룹화: `fashion_news_frequency`별 평균 나이
• `fashion_news_frequency` 그룹별 `age`의 평균을 구하세요. (`groupby` + `.mean()`)

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 3 — 그룹화: `club_member_status`와 `Active` 복합 그룹의 `FN` 평균(=구독률)
• `['club_member_status', 'Active']`로 그룹화하여 `FN`의 평균을 구하세요. (0/1 평균은 비율로 해석 가능)

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 4 — 문자열: `customer_id` 길이 계산
• `customer_id`의 문자 길이를 계산한 `id_len` 열을 추가하세요. (`.str.len()`)  
• 추가로, `id_len`의 최솟값/최댓값을 출력하세요.

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 5 — 문자열: 아이디 접두(prefix) 추출 및 빈도
• `customer_id`의 앞 8글자를 추출하여 `id_prefix` 열로 저장하세요. (`.str[:8]`)  
• `id_prefix`의 상위 10개 빈도를 구하세요. (`value_counts().head(10)`)

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 6 — 문자열: `fashion_news_frequency` 소문자화
• `fashion_news_frequency` 값을 모두 소문자로 변환하여 `fn_lower` 열에 저장하세요. (`.str.lower()`)  
• 변환 후 고유값을 출력하세요. (`.unique()`)

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 7 — map: `club_member_status`를 한글 라벨로 매핑
• 매핑 사전 예시: `{{'ACTIVE': '활동', 'PRE-CREATE': '사전생성', 'LEFT': '탈퇴'}}`  
• `status_ko` 열로 저장하고, 각 라벨별 개수를 구하세요. (`.map` + `value_counts()`)

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 8 — apply/lambda: 나이대 구간화
• `age`를 기준으로 `age_group`을 생성하세요. 규칙 예시: `<20: '10대', 20~39: '20-30대', 40~59: '40-50대', 60+: '60대+'`.  
• 각 나이대별 고객 수를 구하세요.

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 9 — 시간: 출생연도(근사) → datetime 변환
• `approx_birth_year = 2024 - age` 로 계산 후, 문자열 `'YYYY-01-01'`을 만들어 `pd.to_datetime`으로 변환하여 `birthdate` 열을 만드세요.  
• `birthdate.dt.year`를 확인하고, 출생연도(근사)별 고객 수를 집계하세요.

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 10 — 시간: 멤버십 가입일 가정 → 재직일수(근사)
• 상태별 가상의 가입일 매핑을 만드세요. 예시: `ACTIVE → '2020-01-01'`, `PRE-CREATE → '2024-01-01'`, `LEFT → '2019-01-01'`.  
• 이를 `member_since` 문자열 열로 만든 뒤 `pd.to_datetime`으로 변환하고, 기준일 `'2024-12-31'`와의 일수 차(`tenure_days`)를 계산하세요. (`.dt`/timedelta)

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 11 — Merge: 뉴스 구독 빈도 매핑 병합
• 다음과 같은 매핑 DataFrame을 생성하세요: 
  `map_df = pd.DataFrame({{'fashion_news_frequency': ['NONE','Monthly','Regularly'], 'fn_rank': [0,1,2]}})`  
• `df`와 `map_df`를 `fashion_news_frequency` 기준으로 **left merge**하여 `fn_rank` 열을 추가하세요.

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.

---

### 문제 12 — Concat: 짝수/홀수 인덱스 분할 후 복원
• 짝수 인덱스만 담은 `df_even`, 홀수 인덱스만 담은 `df_odd`를 만든 뒤 `pd.concat([df_even, df_odd], axis=0)`으로 다시 합치세요.  
• 원본 행 수와 동일한지 확인하세요.

In [ ]:
# TODO: 여기에서 풀이 코드를 작성하세요.