In [17]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np
import os

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv('2025_Airbnb_NYC_listings.csv')

In [5]:
print(df['neighbourhood_cleansed'].value_counts())
print(df['neighbourhood_group_cleansed'].value_counts())

neighbourhood_cleansed
Bedford-Stuyvesant        1545
Midtown                   1461
Upper East Side           1042
Hell's Kitchen            1036
Harlem                    1031
                          ...
Eltingville                  2
Willowbrook                  1
Fort Wadsworth               1
Chelsea, Staten Island       1
Oakwood                      1
Name: count, Length: 221, dtype: int64
neighbourhood_group_cleansed
Manhattan        10205
Brooklyn          7455
Queens            3420
Bronx              912
Staten Island      316
Name: count, dtype: int64

In [6]:
dtypelist = pd.DataFrame(df.dtypes)

dtypelist

                                                    0
Unnamed: 0                                      int64
id                                              int64
source                                         object
name                                           object
description                                    object
neighborhood_overview                          object
host_id                                         int64
host_name                                      object
host_since                                     object
host_location                                  object
host_about                                     object
host_response_time                             object
host_response_rate                             object
host_acceptance_rate                           object
host_is_superhost                              object
host_neighbourhood                             object
host_listings_count                           float64
host_total_listings_count                     float64
host_verifications                             object
host_has_profile_pic                           object
host_identity_verified                         object
neighbourhood                                  object
neighbourhood_cleansed                         object
neighbourhood_group_cleansed                   object
latitude                                      float64
longitude                                     float64
property_type                                  object
room_type                                      object
accommodates                                    int64
bathrooms                                     float64
bathrooms_text                                 object
bedrooms                                      float64
beds                                          float64
amenities                                      object
price                                          object
minimum_nights                                  int64
maximum_nights                                  int64
minimum_minimum_nights                        float64
maximum_minimum_nights                        float64
minimum_maximum_nights                        float64
maximum_maximum_nights                        float64
minimum_nights_avg_ntm                        float64
maximum_nights_avg_ntm                        float64
calendar_updated                              float64
has_availability                               object
availability_30                                 int64
availability_60                                 int64
availability_90                                 int64
availability_365                                int64
calendar_last_scraped                          object
number_of_reviews                               int64
number_of_reviews_ltm                           int64
number_of_reviews_l30d                          int64
availability_eoy                                int64
number_of_reviews_ly                            int64
estimated_occupancy_l365d                       int64
estimated_revenue_l365d                       float64
first_review                                   object
last_review                                    object
review_scores_rating                          float64
review_scores_accuracy                        float64
review_scores_cleanliness                     float64
review_scores_checkin                         float64
review_scores_communication                   float64
review_scores_location                        float64
review_scores_value                           float64
license                                        object
instant_bookable                               object
calculated_host_listings_count                  int64
calculated_host_listings_count_entire_homes     int64
calculated_host_listings_count_private_rooms    int64
calculated_host_listings_count_shared_rooms     int64
reviews_per_month                             float64

In [7]:
df.shape

(22308, 73)

In [8]:
df.head()

,Unnamed: 0,id,source,name,description,neighborhood_overview,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,availability_eoy,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,36121,city scrape,Lg Rm in Historic Prospect Heights,Cozy space share in the heart of a great neigh...,Full of tree-lined streets and beautiful brown...,62165,Michael,2009-12-11,"New York, NY",I’m an urban planner working for an internatio...,NaN,NaN,NaN,f,Prospect Heights,1.0,3.0,"['email', 'phone', 'work_email']",t,t,Neighborhood highlights,Prospect Heights,Brooklyn,40.673760,-73.966110,Private room in rental unit,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Refrigerator"", ""Dishes and silverware"", ""Wif...",$200.00,90,365,90.0,90.0,365.0,365.0,90.0,365.0,NaN,t,27,57,87,362,2025-03-03,9,0,0,301,0,0,0.0,2010-12-11,2013-05-10,4.88,5.00,4.80,5.00,5.00,5.00,5.00,NaN,f,1,0,1,0,0.05
1,1,36647,city scrape,"1 Bedroom & your own Bathroom, Elevator Apartment",Private bedroom with your own bathroom in a 2 ...,"Manhattan, SE corner of 2nd Ave/ E. 110th street",157798,Irene,2010-07-04,"New York, NY",NaN,NaN,NaN,100%,f,East Harlem,1.0,1.0,"['email', 'phone']",t,t,Neighborhood highlights,East Harlem,Manhattan,40.792454,-73.940742,Private room in condo,Private room,2,1.0,1 private bath,1.0,1.0,"[""Oven"", ""Blender"", ""Luggage dropoff allowed"",...",$82.00,30,999,30.0,30.0,999.0,999.0,30.0,999.0,NaN,t,0,0,0,204,2025-03-03,102,0,0,143,0,0,0.0,2010-10-04,2023-12-09,4.77,4.82,4.76,4.88,4.90,4.38,4.71,NaN,f,1,0,1,0,0.58
2,2,38663,city scrape,Luxury Brownstone in Boerum Hill,"Beautiful, large home in great hipster neighbo...","diverse, lively, hip, cool: loaded with restau...",165789,Sarah,2010-07-13,"New York, NY",I am a lawyer and work as an executive at an a...,within a few hours,100%,40%,f,Boerum Hill,1.0,3.0,"['email', 'phone', 'work_email']",t,t,Neighborhood highlights,Boerum Hill,Brooklyn,40.684420,-73.980680,Private room in home,Private room,2,2.5,2.5 baths,5.0,5.0,"[""Portable fans"", ""Oven"", ""Baking sheet"", ""Fir...",$765.00,3,60,3.0,3.0,60.0,60.0,3.0,60.0,NaN,t,30,49,66,326,2025-03-02,43,0,0,267,0,0,0.0,2012-07-09,2023-08-30,4.70,4.83,4.52,4.88,4.88,4.86,4.62,OSE-STRREG-0001784,f,1,0,1,0,0.28
3,3,38833,city scrape,Spectacular West Harlem Garden Apt,This is a very large and unique space. An inc...,West Harlem is now packed with great restauran...,166532,Matthew,2010-07-14,"New York, NY",I have been a New Yorker for a long time\n and...,within an hour,100%,97%,t,Harlem,1.0,1.0,"['email', 'phone']",t,t,Neighborhood highlights,Harlem,Manhattan,40.818058,-73.946671,Entire home,Entire home/apt,2,1.0,1 bath,1.0,1.0,"[""Fire extinguisher"", ""Clothing storage: close...",$139.00,2,45,2.0,2.0,1125.0,1125.0,2.0,1125.0,NaN,t,7,18,25,25,2025-03-03,241,42,3,25,43,255,35445.0,2010-08-28,2025-02-21,4.85,4.87,4.50,4.96,4.96,4.79,4.82,OSE-STRREG-0000476,f,1,1,0,0,1.36
4,4,39282,city scrape,“Work-from-home” from OUR home.,*Monthly Discount will automatically apply <br...,THE NEIGHBORHOOD:<br />Our apartment is locate...,168525,Gustavo,2010-07-16,"New York, NY",I am a music producer. And my wife is a hair s...,within an hour,100%,100%,t,Williamsburg,2.0,2.0,"['email', 'phone']",t,t,Neighborhood highlights,Williamsburg,Brooklyn,40.710651,-73.950874,Private room in rental unit,Private room,2,1.0,1 shared bath,1.0,1.0,"[""Oven"", ""Rice maker"", ""Laundromat nearby"", ""L...",$130.00,4,45,4.0,4.0,45.0,45.0,4.0,45.0,NaN,t,14,22,38,38,2025-03-02,274,12,0,38,12,154,20020.0,2010-08-02,2025-01-03,4.82,4.83,4.61,4.94,4.88,4.85,4.78,OSE-STRREG-0001150,f,2,0,2,0,1.54

In [9]:
min_night = df['minimum_nights'].value_counts().sort_index().reset_index()

min_night

    minimum_nights  count
0                1   2259
1                2    896
2                3    661
3                4    211
4                5    167
5                6     20
6                7     77
7                8      1
8                9      1
9               10     11
10              12      2
11              13      1
12              14      1
13              15     44
14              19      1
15              20      1
16              25      2
17              28      7
18              29      2
19              30  16138
20              31   1297
21              32      8
22              33      2
23              34      1
24              35      5
25              37      2
26              40      9
27              41      1
28              42      2
29              45     20
30              46      1
31              48      1
32              49      2
33              50      5
34              55      3
35              56      1
36              59     11
37              60    113
38              65      3
39              66      1
40              70      5
41              75      7
42              80      4
43              81      1
44              85      2
45              90    144
46             100      7
47             120     15
48             125      1
49             145      1
50             150      7
51             151      1
52             160      1
53             180     38
54             182      1
55             186      1
56             200      1
57             210      2
58             238      1
59             240      1
60             270      3
61             273      2
62             300      4
63             330      1
64             360      6
65             364      2
66             365     28
67             370      1
68             400      1
69             500      1
70             700      1
71             716      1
72             719      9
73             720      3
74             729      7
75             730      6

In [11]:
df.isnull().sum()

Unnamed: 0                                          0
id                                                  0
source                                              0
name                                                0
description                                       405
neighborhood_overview                           10046
host_id                                             0
host_name                                          20
host_since                                         20
host_location                                    5283
host_about                                       8917
host_response_time                               4393
host_response_rate                               4393
host_acceptance_rate                             3466
host_is_superhost                                 374
host_neighbourhood                               4730
host_listings_count                                20
host_total_listings_count                          20
host_verifications                                 20
host_has_profile_pic                               20
host_identity_verified                             20
neighbourhood                                   10046
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                        0
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                           6
bathrooms_text                                     14
bedrooms                                           49
beds                                               79
amenities                                           0
price                                               0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_updated                                22308
has_availability                                  246
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
availability_eoy                                    0
number_of_reviews_ly                                0
estimated_occupancy_l365d                           0
estimated_revenue_l365d                             0
first_review                                     6798
last_review                                      6798
review_scores_rating                             6798
review_scores_accuracy                           6798
review_scores_cleanliness                        6798
review_scores_checkin                            6798
review_scores_communication                      6798
review_scores_location                           6799
review_scores_value                              6798
license                                         17845
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                6798
dtype: int64