# H&M 고객 데이터 (customer_hm.csv)


## 문제 0 - 데이터 로딩
데이터는 다음 경로에서 읽어옵니다: `customer_hm.csv`

In [1]:
# 필요 패키지 임포팅
import pandas as pd

# 데이터 로딩
df = pd.read_csv('customer_hm.csv')

# 데이터 프레임 확인
df.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52

### 문제 1 — 조건 필터링
- 나이가 40세 이상인 고객 행만 필터링하여 첫 5행을 출력하고, 행 개수를 함께 출력하세요.

In [2]:
df1 = df

# 필터링 조건 지정
cond_age = df1['age'] >= 40

# 데이터 프레임 조건 적용
df1 = df1[cond_age]

# 데이터 출력
print(df1.shape)
df1.head()

(403011, 6)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52
11,00009c2aeae8761f738e4f937d9be6b49861a66339c2b1...,0,0,ACTIVE,NONE,49
12,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,1,1,ACTIVE,Regularly,56

### 문제 2 — 다중 조건(AND)
- 클럽 회원 상태가 'ACTIVE' 이면서 `FN` 값이 1인 고객만 필터링하세요.

In [3]:
df2 = df

# 필터링 조건 지정
cond_status = df2['club_member_status'] == 'ACTIVE'
cond_FN = df2['FN'] == 1

# 조건 통합
total_cond = cond_status & cond_FN

# 데이터 프레임 조건 적용
df2 = df2[total_cond]

# 데이터 출력
df2.head(10)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52
6,00007d2de826758b65a93dd24ce629ed66842531df6699...,1,1,ACTIVE,Regularly,32
12,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,1,1,ACTIVE,Regularly,56
13,0000ae1bbb25e04bdc7e35f718e852adfb3fbb72ef38b3...,1,1,ACTIVE,Regularly,29
14,0000b2f1829e23b24feec422ef13df3ccedaedc85368e6...,1,1,ACTIVE,Regularly,54
16,0000b95f630aaa9313028ce9c41154bb95ac7afa34f55b...,1,1,ACTIVE,Regularly,49
18,0000d6c053fc8f9389d4565051f12402d5774aa4a9d2e5...,1,1,ACTIVE,Regularly,41
19,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,1,1,ACTIVE,Regularly,27
20,0000f1c71aafe5963c3d195cf273f7bfd50bbf17761c91...,1,1,ACTIVE,Regularly,30
25,0001177027259b455f979d85a278e4b280205d4de5cce4...,1,1,ACTIVE,Regularly,31

### 문제 3 — 다중 조건(OR)
- 나이가 18세 미만 **또는** 65세 이상인 고객만 필터링하세요.

In [4]:
df3 = df

# 필터링 조건 지정
cond_age_under_18 = df3['age'] > 18
cond_age_over_65 = df3['age'] <= 65

# 조건 통합
total_cond = cond_age_under_18 | cond_age_over_65

# 데이터 프레임 조건 적용
df3 = df3[total_cond]

# 데이터 출력
df3.head(10)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52
5,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,0,0,ACTIVE,NONE,20
6,00007d2de826758b65a93dd24ce629ed66842531df6699...,1,1,ACTIVE,Regularly,32
7,00007e8d4e54114b5b2a9b51586325a8d0fa74ea23ef77...,0,0,ACTIVE,NONE,20
8,00008469a21b50b3d147c97135e25b4201a8c58997f787...,0,0,ACTIVE,NONE,20
9,0000945f66de1a11d9447609b8b41b1bc987ba185a5496...,0,0,ACTIVE,NONE,29

### 문제 4 — 다중 조건(특정 값들)
- `fashion_news_frequency`가 'Monthly' **또는** 'Regularly'인 고객만 필터링하세요.

In [5]:
df4 = df

# 필터링 전 value_counts 확인
print(f'필터링 전 : \n{df4['fashion_news_frequency'].value_counts()}\n')

# 조건 지정
cond_mon = df4['fashion_news_frequency'] == ('Monthly')
cond_reg = df4['fashion_news_frequency'] == ('Regularly')

# 조건 통합
total_cond = cond_mon | cond_reg

# 데이터 프레임 조건 적용
df4 = df4[total_cond]

# 필터링 후 value_counts 확인
print(f'필터링 후 : \n{df4['fashion_news_frequency'].value_counts()}')

필터링 전 :
fashion_news_frequency
NONE         674698
Regularly    373218
Monthly         658
Name: count, dtype: int64

필터링 후 :
fashion_news_frequency
Regularly    373218
Monthly         658
Name: count, dtype: int64

### 문제 5 — 결측치 조건
- `fashion_news_frequency`가 결측(`NaN`)인 고객만 필터링하세요.

In [6]:
df5 = df

# 처리전 결측치 개수 확인
print(f'fashion_news_frequency의 결측치 개수 : {df5['fashion_news_frequency'].isnull().sum()}')

# 결측 조건 필터링 선언
cond_NaN = df5['fashion_news_frequency'].isnull()

# 데이터 프레임 조건 적용
df5_NaN = df5[cond_NaN]

# 출력 확인
df5_NaN

fashion_news_frequency의 결측치 개수 : 1

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
876108,a79d9cbfaceb0d25a91caccfad167d4d6391fd5bb4292b...,1,0,ACTIVE,NaN,38

### 문제 6 — 정렬
- 나이(`age`) 기준 **내림차순**으로 정렬하여 상위 5명을 출력하세요.

In [7]:
df6 = df
#df6.head()

# 나이 기준 내림차순 정렬
df6 = df6.sort_values(by='age', ascending=False)

# 출력 확인
df6.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
847058,a2106ba216f519880fbebd7a1fe1929802ac1258adabbf...,1,1,ACTIVE,Regularly,99
311081,3b9ec1854ba779c3c11389985299e642b5779947ff8395...,1,1,ACTIVE,Regularly,99
308676,3b28156770e0a17436b29831e41394528f74b4ec2c37d3...,0,0,ACTIVE,NONE,99
546159,687c675e64e5f5d962c99ebf915da230be8c907a65a1d5...,0,0,PRE-CREATE,NONE,99
836730,a01bd2e0e8bbf8db61f0e623a05325cde84955a37415b7...,1,1,ACTIVE,Regularly,99

### 문제 7 — 다중 정렬
- `Active` **내림차순**, `age` **오름차순** 순서로 다중 정렬하세요.

In [8]:
df7 = df

# 다중 정렬 적용
df7 = df7.sort_values(by= ['Active', 'age'], ascending=[False,True])

# 출력 확인
df7

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
1539,0049c08ee3fbe0bee305a3b30153e76f38a0640044db16...,1,1,ACTIVE,Regularly,16
19066,03ad8309930e4978125c3e1a00f7d6b975995b64aa5d17...,1,1,PRE-CREATE,Regularly,16
35880,06e49a51cb667123ab815bef64d4ac94ac5ed7299b3b10...,1,1,ACTIVE,Regularly,16
41552,07fa3e88cfda69773153e19dd1bc46fb3391c9df2883b2...,1,1,ACTIVE,Regularly,16
51361,09d5e6bb83786d81e5cd0c7c32827e3b04b680e973daac...,1,1,ACTIVE,Regularly,16
...,...,...,...,...,...,...
286274,36d219eb822d04d07e5bb31e39caffefc17da81ff4a19b...,0,0,ACTIVE,NONE,99
308676,3b28156770e0a17436b29831e41394528f74b4ec2c37d3...,0,0,ACTIVE,NONE,99
546159,687c675e64e5f5d962c99ebf915da230be8c907a65a1d5...,0,0,PRE-CREATE,NONE,99
613464,7558adbc0401acdd74a7c8633ad97d25979e9859b8abca...,0,0,ACTIVE,NONE,99
839909,a0b9e2473f699821b72833824a3e95972862039a49c5e9...,0,0,PRE-CREATE,NONE,99

### 문제 8 — 열 제거
- 분석에 불필요하다고 가정하고 `FN` 열을 **제거**한 새로운 DataFrame을 만들어 컬럼 목록을 출력하세요.

In [9]:
df8 = df

# 컬럼 제거
df8_drop = df8.drop(columns='FN')

# 출력 확인
df8_drop.head()

,customer_id,Active,club_member_status,fashion_news_frequency,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,ACTIVE,NONE,49
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,ACTIVE,NONE,25
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,ACTIVE,NONE,24
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,ACTIVE,NONE,54
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,ACTIVE,Regularly,52

### 문제 9 — 열 이름 변경
- `age`를 `나이`, `Active`를 `활성`으로 **열 이름 변경**한 DataFrame을 만들어 컬럼 목록을 출력하세요.

In [10]:
df9 = df

# 컬럼명 변경 적용
df9 = df9.rename(columns={'age' : '나이' , 'Active' : '활성'})

# 출력 확인
df9.head()

,customer_id,FN,활성,club_member_status,fashion_news_frequency,나이
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52

### 문제 10 — 결측치 개수
- 각 열의 결측치 개수를 한 번에 확인하세요.

In [11]:
df10 = df

# 결측 개수 확인
print(df10.isnull().sum())

customer_id               0
FN                        0
Active                    0
club_member_status        0
fashion_news_frequency    1
age                       0
dtype: int64

### 문제 11 — 결측치 채우기
- 문제 10번에서 확인한 결측치를 합당한 이유에 맞게 삭제 or 대체해보세요!

In [12]:
# 데이터 프레임 적용
df11_drop = df      # dropna 용
df11_fill = df      # fillna 용

# 처리 전 쉐이프 및 벨류값 확인
print(f'처리 전 drop shape : {df11_drop.shape}')
print(f'처리 전 fill shape : {df11_fill.shape}')
print(f'{df11_drop['fashion_news_frequency'].value_counts()}\n')

# 결측치 제거 및 대체 적용
df11_drop = df11_drop.dropna()
df11_fill = df11_fill.fillna('NONE')

# 처리 후 쉐이프 및 벨류값 확인
print(f'처리 후 drop shape : {df11_drop.shape}')
print(f'처리 후 fill shape : {df11_fill.shape}')
print(f'{df11_fill['fashion_news_frequency'].value_counts()}\n')

# 결측치 대체 확인용 
df11_fill.loc[[876108]]

처리 전 drop shape : (1048575, 6)
처리 전 fill shape : (1048575, 6)
fashion_news_frequency
NONE         674698
Regularly    373218
Monthly         658
Name: count, dtype: int64

처리 후 drop shape : (1048574, 6)
처리 후 fill shape : (1048575, 6)
fashion_news_frequency
NONE         674699
Regularly    373218
Monthly         658
Name: count, dtype: int64

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
876108,a79d9cbfaceb0d25a91caccfad167d4d6391fd5bb4292b...,1,0,ACTIVE,NONE,38

### 문제 12 — 중복 확인 및 제거
- 중복 행 개수를 확인하고(`duplicated().sum()`), 중복을 제거한 DataFrame을 만든 뒤 제거 전/후 행 개수를 비교하세요.

In [ ]:
df12 = df

# 중복치 갯수 확인
df12_dup= df12.duplicated().sum()
print(df12_dup)

# 중복치 제거 전 Shape 확인
print(df12.shape)


# 중복치 제거 적용
df12 = df12.drop_duplicates()

# 중복치 제거 후 Shape 확인
print(df12.shape)

0
(1048575, 6)
(1048575, 6)