# 개요
- 참고 자료를 보셔도 좋지만, 코드 이해뿐만 아니라 데이터 전처리 처리에 대한 순서 / 법칙을 이해하면서 작성합시다!
- 코드에 대한 다양한 도전을 합시다 :) 
- 원본 데이터 : https://www.kaggle.com/datasets/rounakbanik/pokemon

문제를 풀기 전에, pokemon.csv 파일을 읽고, 데이터를 다양한 함수를 사용해서 살펴보세요!!! (.head(), .shape(), .info(), .value_counts() 등..)

In [1]:
import pandas as pd
pokemon = pd.read_csv('pokemon.csv')  # 경로는 환경에 맞게 조정


#print(pm.shape,'\n')
#print(pm.info(),'\n')
print(pokemon.iloc[:,19:43].columns)

pm=pokemon

Index(['attack', 'base_egg_steps', 'base_happiness', 'base_total',
       'capture_rate', 'classfication', 'defense', 'experience_growth',
       'height_m', 'hp', 'japanese_name', 'name', 'percentage_male',
       'pokedex_number', 'sp_attack', 'sp_defense', 'speed', 'type1', 'type2',
       'weight_kg', 'generation', 'is_legendary'],
      dtype='object')

컬럼명

타입별 공격계수(index = 0~18)  
attack              → 공격  
base_egg_steps      → 알 부화 걸음 수  
base_happiness      → 기본 친밀도  
base_total          → 종족값 합계  
capture_rate        → 포획률  
classfication       → 분류  
defense             → 방어  
experience_growth   → 경험치 성장률  
height_m            → 키 (미터)  
hp                  → 체력 (HP)  
japanese_name       → 일본어 이름  
name                → 이름  
percentage_male     → 수컷 비율(%)  
pokedex_number      → 포켓덱스 번호  
sp_attack           → 특수공격  
sp_defense          → 특수방어  
speed               → 스피드  
type1               → 타입1  
type2               → 타입2  
weight_kg           → 몸무게 (킬로그램)  
generation          → 세대  
is_legendary        → 전설 여부

## 문제 1 : 단일 열 그룹화 - type1별 평균 공격력
type1 기준으로 그룹화하여 attack의 평균을 구하세요. (결과는 Series/한 컬럼 집계)

In [2]:
TypeAttack_AVG = pm.groupby('type1')['attack'].mean()

TypeAttack_AVG.reset_index().round(2)

       type1  attack
0        bug   70.12
1       dark   87.79
2     dragon  106.41
3   electric   70.82
4      fairy   62.11
5   fighting   99.18
6       fire   81.50
7     flying   66.67
8      ghost   72.74
9      grass   73.77
10    ground   94.81
11       ice   73.30
12    normal   75.16
13    poison   72.66
14   psychic   65.57
15      rock   90.67
16     steel   93.08
17     water   73.31

## 문제 2 : 다중 열 그룹화 - generation × is_legendary 조합별 개수
generation과 is_legendary 두 컬럼으로 그룹화하고, 각 그룹의 포켓몬 개수를 구한 뒤 count라는 이름의 컬럼으로 표 형태로 출력하세요.

In [3]:
group_pm = pm.groupby(['generation','is_legendary']).size().reset_index(name = 'count')

group_pm

    generation  is_legendary  count
0            1             0    146
1            1             1      5
2            2             0     94
3            2             1      6
4            3             0    125
5            3             1     10
6            4             0     94
7            4             1     13
8            5             0    143
9            5             1     13
10           6             0     66
11           6             1      6
12           7             0     63
13           7             1     17

## 문제 3번 : 여러 집계 한 번에 - type1별 hp 평균 + attack 평균
type1별로 hp의 평균과 attack의 평균을 동시에 계산하세요. (컬럼별 다른 함수 지정: agg 딕셔너리)

## 문제 4번 : 문자열 기본: 대문자 변환 + 길이 구하기
name 컬럼을 모두 대문자로 바꾼 name_upper와, 이름 글자 수를 담은 name_len 컬럼을 추가하고, 상위 5개 행만 확인하세요.

## 문제 5번 : 날짜 기본: 문자열 → 날짜 변환 & 연도/요일 추출
아래 날짜 문자열 리스트를 Series로 만들고 pd.to_datetime으로 변환한 뒤, 연도(year)와 요일(day_name)을 각각 출력하세요.

In [4]:
dates_str = ['1996-02-27', '1999-11-21', '2002-11-21']

## 문제 6번 : map으로 쉬운 값 치환 - 전설 여부 라벨 만들기
is_legendary가 1이면 "Legendary", 0이면 "Normal"을 부여한 새 컬럼 legendary_label을 만드세요.

## 문제 7번 : concat 기초 - Fire와 Water 묶어 세로로 붙이기
type1 == 'Fire'인 포켓몬의 name, type1만 담은 fire_df와
type1 == 'Water'인 포켓몬의 name, type1만 담은 water_df를 만든 뒤, 두 DataFrame을 세로 방향으로 이어붙여(ignore_index=True) fw_concat을 만들고 상위 8행을 확인하세요.

## 문제 8번 : generation 라벨 붙이기 (Left Merge)
아래의 작은 매핑 테이블 gen_info를 직접 만들고, pokemon과 generation 컬럼을 기준으로 left merge 하여 gen_name 컬럼을 붙이세요. 결과의 상위 5행을 출력하세요.

매핑은 다음과 같이 사용하세요:  
1 → "Gen I"  
2 → "Gen II"  
3 → "Gen III"  
4 → "Gen IV"  
5 → "Gen V"  
6 → "Gen VI"  
7 → "Gen VII"

## 문제 9번 : 전처리 결과 저장
지금까지 만든 가공 결과(예: pokemon_with_gen)를 CSV로 저장하세요. 파일명은 pokemon_processed.csv, 인덱스 제외.