In [5]:
import pandas as pd # 판다스 데이터조작
import numpy as np # 넘파이 수치계산
import matplotlib as plt # 멧플로트라이브러리
import seaborn as ins # 씨본
import os

In [10]:
df = pd.read_csv('train.csv')

In [21]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [33]:
df.loc[2:3,'Name']

2                          Heikkinen, Miss. Laina
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
Name: Name, dtype: object

In [39]:
# df.iloc[0:3, [0,3,4,5]] # 0~2번 인덱스(행)중 [0,3,4,5]번째 컬럼(열)의 데이터를 가져와라
# df.iloc[0:3, 0:2]       # 0~2번 인덱스(행)중 0~1번째 컬럼(열)의 데이터를 가져와라
df.loc[0:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q